<md-dialog aria-label="Cart Dialog" flex="90">
    <md-dialog-content layout-padding>
        <div class="md-dialog-content" layout-gt-lg>
            <md-list style="border: 1px solid white !important;" class="md-block">
                <md-subheader class="md-no-sticky">Proizvodi:</md-subheader>
                <md-divider></md-divider>
                <md-list-item class="md-2-line">
                    <div class="md-list-item-text" layout="row" layout-align="start center" >
                        <span flex>Šifra</span>
                        <span flex></span>
                        <span flex>Naziv</span>
                        <span flex></span>
                        <span flex>Tip</span>
                        <span flex></span>
                        <span flex>Mera</span>
                        <span flex></span>
                        <span flex>Cena</span>
                        <span flex></span>
                        <span flex>Rabat</span>
                        <span flex></span>
                        <span flex>Na stanju</span>
                        <span flex></span>
                        <span flex="10">Količina</span>
                    </div>
                    <md-divider></md-divider>
                </md-list-item>
                <md-list-item class="md-2-line" ng-repeat="p in proizvodiZaKupovinu" >
                    <div class="md-list-item-text" layout="row" layout-align="start center">
                        <span flex>{{p.proizvod.id}}</span>
                        <span flex></span>
                        <span flex>{{p.proizvod.naziv}}</span>
                        <span flex></span>
                        <span flex>{{p.proizvod.tip}}</span>
                        <span flex></span>
                        <span flex>{{p.proizvod.mera}}</span>
                        <span flex></span>
                        <span flex>{{p.proizvod.cena}}</span>
                        <span flex></span>
                        <span flex>{{p.proizvod.rabat}}</span>
                        <span flex></span>
                        <span flex>{{p.proizvod.kolicina}}</span>
                        <span flex></span>
                        <input type="number" ng-model="p.kolicina" class="md-block" flex="10" layout-align="center center" min="0" max="{{p.proizvod.kolicina}}" ng-change="izracunajUkupno()">
                    </div>
                    <md-divider></md-divider>
                </md-list-item>

                <md-list-item class="md-1-line" ng-if="proizvodiZaKupovinu.length == 0">
                    <div class="md-list-item-text">
                        <h3>Nema proizvoda</h3>
                    </div>
                </md-list-item>
            </md-list>

            <div layout="row" layout-align="end center"><p>Ukupno: {{ukupno}}</p></div>
        </div>
    </md-dialog-content>


    <md-dialog-actions>
        <md-button ng-click="kupi()" class="md-primary">Kupi</md-button>
        <md-button ng-click="cancel()" class="md-primary">Izađi</md-button>
    </md-dialog-actions>
</md-dialog>